@import "reset.css";

body
{
  line-height: 1.5;
	font-family: 'Arvo', serif;
	font-size: 17px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("../../images/medicalFond.jpg");
  background-color: #ECF0F3;
}

.wrap {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

.wrap_inscription {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

.wrap_footer {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h2{
  width: 100%;
  background-color: #8EA2C6;
  color: #FFF;
  font-size: 25px;
  text-align: center;
}

.ligne {
  width:60px; height:2px; margin: 10px auto; background-color: #000;
}

#notfound {
  position: relative;
  height: 100vh;
  background-color: #8EA2C6;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#notfound .notfound {
  max-width: 520px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
}

#notfound .notfound .notfound-404 {
  position: relative;
  height: 240px;
}

#notfound .notfound .notfound-404 h1 {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 252px;
  font-weight: 900;
  margin: 0px;
  color: #262626;
  text-transform: uppercase;
  letter-spacing: -40px;
  margin-left: -20px;
}

#notfound .notfound .notfound-404 h1 {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 252px;
  font-weight: 900;
  margin: 0px;
  color: #262626;
  text-transform: uppercase;
  letter-spacing: -40px;
  margin-left: -20px;
}

#notfound .notfound .notfound-404 h1>span {
  text-shadow: -8px 0px 0px #fff;
}

#notfound .notfound .notfound-404 h3 {
  font-family: 'Cabin', sans-serif;
  position: relative;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #262626;
  margin: 0px;
  letter-spacing: 3px;
  padding-left: 6px;
}


#notfound .notfound .notfound-ban {
  position: relative;
  height: 240px;
}

#notfound .notfound .notfound-ban h1 {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 252px;
  font-weight: 900;
  margin: 0px;
  color: #ff0000;
  text-transform: uppercase;
  letter-spacing: -40px;
  margin-left: -20px;
}

#notfound .notfound .notfound-ban h1 {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 252px;
  font-weight: 900;
  margin: 0px;
  color: #ff0000;
  text-transform: uppercase;
  letter-spacing: -40px;
  margin-left: -20px;
}

#notfound .notfound .notfound-ban h1>span {
  text-shadow: -8px 0px 0px #fff;
}

#notfound .notfound .notfound-ban h3 {
  font-family: 'Cabin', sans-serif;
  position: relative;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ff0000;
  margin: 0px;
  letter-spacing: 3px;
  padding-left: 6px;
}


#notfound .notfound h2 {
  font-family: 'Cabin', sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000;
  margin-top: 0px;
  margin-bottom: 25px;
}

#notfound .notfound img {
  width: 100%;
  padding-bottom: 100px;
}

@media only screen and (max-width: 767px) {
  .notfound .notfound-404 {
    height: 200px;
  }
  .notfound .notfound-404 h1 {
    font-size: 200px;
  }
}

@media only screen and (max-width: 480px) {
  .notfound .notfound-404 {
    height: 162px;
  }
  .notfound .notfound-404 h1 {
    font-size: 162px;
    height: 150px;
    line-height: 162px;
  }
  .notfound h2 {
    font-size: 16px;
  }
}

#header img{
  width:30%;
  margin: 8% 10% 0 0;
  float : right;
}

#header .navbar{
  background-color: #56739A;
  overflow: hidden;

}

#header .menufixed {
  position: fixed;
  background-color: #56739A;
  width: 100%;
  border-bottom: solid #777777 1px;
  z-index: 10;
}

#header .navbar .icon {
    display: none;
}

#header nav ul li{
  margin-left: 5%;
}

#header nav ul li a:hover{
  background-color: #8EA2C6;
}

#header  .navbar.responsive a {
  float: none;
  display: block;
  text-align: left;
}
#header nav ul li a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  transition: all 1.5s;
}

.slicknav_menu {
	display:none;
}

@media screen and (max-width: 800px) {
	/* #menu is the original menu */
	#menu {
		display:none;
	}

	.slicknav_menu {
		display:block;
	}
}

.active, .active:hover
{
    background-color: #8fafd6;
    color: white;
}

/* @media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  } */

.sub_form a {
  float: right;
}

.logo_co_sub a {

}

#intro{
  text-align: center;
  margin-top: 20%;
  color: #FFF;
}

@media screen and (min-width: 601px) {
  #intro p{
    font-size: 30px;
  }
}

#intro .inscription {
 margin: 10% 0 0 0;
 color: white;
 padding: 15px 32px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 width: 50%;
 float: left;
  }

#intro .connexion{
  margin: 10% 0 0 0;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 50%;
  }

@media screen and (min-width: 767px) {
  #intro .connexion{
    font-size: 30px;
  }
}

@media screen and (min-width: 767px) {
  #intro .inscription{
    font-size: 30px;
  }
}
#intro .inscription a, .connexion a{
  border-radius: 30px;
  transition: all 0.5s;
  background-color:none;
  padding: 3%;
  text-decoration: none;
  color: #FFF;
  border-style: solid;
  border-width: 2px;
  border-color: #FFF;
}

#intro a:hover{
  background-color: #FFF;
  color: #008fcf;
}

#FAQ {
  color: #777777;
  margin-top:7.5%;
  background-color: #ecf0f3;
  text-align: center;
}

#FAQ .boiteQuestion{
  color : #FFF;
  background-color: #8EA2C6;
  text-align: center;
  border-radius: 100px;
  width: 75%;
  margin-left: 12.5%;
    margin-top: 5%;
  margin-bottom: 20px;
}

#FAQ .wrap-FAQ {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

#equipe{
  color: #FFF;
  background-color: #8EA2C6;
  width: 100%;
  height: 400px;
  margin-top: 5%;
}

#equipe .section1 {
  float: left;
  width: 25%;
  padding-top: 50px;
  color: #000;
  transition: all 0.5s;
  text-align: center;
  overflow: auto;
}

#equipe .section1 img{
  border-radius: 100%;
}

#equipe .section1:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

#partenaires {
  background-color: #ECF0F3;
  padding-bottom: 50px;
  height: 500px;
  text-align: center;
  color: white;
}


#partenaires .section2 {
  float: left;
  width: 25%;
  padding-top: 35px;
  padding-bottom: 35px;
}

#box {
    margin: 45px 0 45px 25%;
    width: 50%;
    height: 350px;
    border: 2px black solid;
    overflow: hidden;
    background-color: #F2F2F2;
}
#box img:hover {
    transform: translate3d(0, 0px, 0);
    cursor: pointer;
}
#box img {
    transition: .5s ease-in;
    transform: translate3d(0, -350px, 0);
}

#contact {
  color: #ECF0F3;
}

#contact h3 {
  padding-bottom: 20px;
}

#from-contact h2 {
  background-color: #4caf50;
  text-align: center;
  color: #FFF;
  font-size: 1.9em;
  font-weight: bold;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
}

#footer .bouton1 {
  width : 49px;
  height : 46px;
  display : inline-block; /*Très important, sinon les dimensions ne sont pas prises en compte*/
  background : url("../../images/logos_reseaux.png") 0 49px no-repeat;

}

#footer .bouton1:hover {
  background-image: url('../../images/logo_twitter.png') 48px 0px;
}


#equipe .section1 {
  float: left;
  width: 25%;
  padding-top: 50px;
  color: #000;
  transition: all 0.5s;
  text-align: center;
  overflow: auto;
  }

#equipe .section1 img{
  border-radius: 100%;
}

#equipe .section1:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.section4 {
  float: left;
  width: 100%;
  padding-top: 0px;
}

#form-contact { background-image: url('../../images/medical2.jpg'); background-size: 100%;}

.form-connexion{
  margin-top: 400px;
  padding-bottom: 100px;
}

#form-contact {
  margin-top: -10px;
  padding: 0px 10px 20px 10px;
  background-image: url('../../images/medical2.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  color: #777777;
}


label{ display: block;padding-left: 0px;margin-bottom: 5px;font-size: 1.2em;font-weight: bold;margin-top: 20px;}
form div {float: left;}
.w50 {width:50%;}
.w100 {width:100%;}
input[type=text] {width: 95%;}
input[type=text].inputerror{border:2px }
input[type=email], textarea {width: 100%;}
input {height:50px;}

input[type=text], input[type=email],textarea {border: none;font-size: 1.2em;padding-left: 30px;margin-bottom: 5px;border-radius:10px;background-color: #8FAFD6}
textarea {padding-top: 10px;margin-bottom: 30px;resize: none;}
input[type=submit] {cursor:pointer;border:none;display: block;margin: 15px auto; width:275px;font-size: 1.2em;border-radius:10px;background-color: #8FAFD6; transition: 0.5s;}
input[type=submit]:hover {color: #fff;background-color:#6FA7C7;}
.error {color:red;padding-left: 30px;}


input[type=password]{
  border: none;
  font-size: 1.2em;
  background-color: #8FAFD6;
  border-radius: 10px;
  width: 50%;
  margin-left: 25%;
}
::placeholder {color: #FFF; opacity: 1;}
:-ms-input-placeholder {color: #FFF;}
::-ms-input-placeholder {color: #FFF;}


/* Removes the clear button from date inputs */
input[type="date"]::-webkit-clear-button {
    display: none;
}

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button {
    display: none;
}

/* Always display the drop down caret */
input[type="date"]::-webkit-calendar-picker-indicator {
    color: #000;
}

/* A few custom styles for date inputs */
input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    color: #000;
    font-family: "Helvetica", arial, sans-serif;
    font-size: 18px;
    border:1px solid #ecf0f1;
    background:#8FAFD6;
    padding:5px;
    display: inline-block !important;
    visibility: visible !important;
    width: 30%;
    border-radius: 5px;
    float: left;
}

input[type="date"], focus {
    color: #000;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #8FAFD6;
  background-image: none;
}
/* Custom Select */
.select {
  position: relative;
  display: block;
  width: 20em;
  height: 3em;
  line-height: 3;
  background: #8FAFD6;
  overflow: hidden;
  border-radius: 10px;
}
select {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 0 .5em;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 1em;
  background: #8FAFD6;
  pointer-events: none;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}
.select::after {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}

footer {
  width: 100%;
  background-color: #56739A;
  color: white;
  text-align: center;
  float: right;
}

footer p {
  text-align: center;
}

.derniere_phrase {
  padding-top: 70px;
  font-size: 1.05em;
}

.newvaccin{
  background-color: #f4e7d3;
  border: 2px solid rgb(4, 113, 152);
  float:left;
  width: 48%;
  margin: 0 20px 20 20px;
  padding: 0 5px 0 5px;
  display: inline;
  overflow: hidden;
  border-radius: 10px;
  text-align: center;
}

.modifprofil{
  background-color: #f4e7d3;
  border: 2px solid rgb(4, 113, 152);
  float:left;
  width: 70%;
  margin-right: 25%;
  margin-left: 15%;
  padding: 0 5px 0 5px;
  display: inline;
  overflow: hidden;
  border-radius: 10px;
  text-align: center;
  z-index: -1;
}

.myvaccin{
  background-color: #FFF;
  border: 2px solid rgb(4, 113, 152);
  float: left;
  width: 47%;
  margin: 0 20px 0 20px;
  border-radius: 10px;
}

.myvaccin table{
  width: 100%;
}

.myvaccin thead{
  background-color: #e4e4e4;
}

.myvaccin td{
  padding: 5px;
}

.myvaccin tbody td{
  border-bottom: 1px solid #eaeaea;
}

.myvaccin thead,tbody tr{
  display:table;
  width:100%;
  table-layout:fixed;
}

.myvaccin h1{
  text-align: center;
  margin: 5px 0 5px 0;
  font-weight: bold;
  font-size: 1.2em;
}

.userlog{
  float: left;
}

.label{
  float: left;
  clear: both;
  text-align: center;
  padding-left: 20px;
}

.formnewvaccin{
  padding: 5px 0 5px 0
}

.formnewvaccin h1{
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 1.2em;
}

.modifvaccin{
  float: left;
  background-color: #e4e4e4;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  padding: 10px 0 10px 0;
  border: 2px solid rgb(4, 113, 152);
}

.modifvaccin input[type="date"]{
  margin-left:  20px;
}

.modifvaccin input{
  margin: 10px 0 10px 0;
}

.modifvaccin input[type="submit"]{
  width: 50%;
  margin-left: 25%;
}

.modifvaccin h1{
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 1.2em;
}



.social-icons
{
	margin: 5px;
  margin-left: 37%;
}

.social-icons li a
{
	width: 46px;
	height: 46px;
	display:block;
	background: url('../img/social-icons.png');
}

.social-icons li a.facebook:hover
{
	background: url('../img/social-icons.png') no-repeat 0 -47px;
	width: 46px;
	height: 46px;
}

.social-icons li a.twitter
{
	background: url('../img/social-icons.png') no-repeat -52px 0;
	width: 46px;
	height: 46px;
}

.social-icons li a.twitter:hover
{
	background: url('../img/social-icons.png') no-repeat -52px -47px;
	width: 46px;
	height: 46px;
}

.social-icons li
{
	float: left;
	margin-right: 5px;

}

#footer {
  background-color: #333;
  width: 100%;
  height: 100%;
}

#footer .bouton1 {
  width : 48px;
  height : 48px;
  display : inline-block; /*Très important, sinon les dimensions ne sont pas prises en compte*/
  background : url("../../images/logo_twitter_grey.png") no-repeat;
}

#footer .bouton1:hover {
  background-image: url('../../images/logo_twitter.png');
}

#footer .bouton2 {
  width : 48px;
  height : 48px;
  display : inline-block;
  background : url("../../images/logo_fb_grey.png") no-repeat;
}

#footer .bouton2:hover {
  background-image: url('../../images/logo_fb.png');
}

footer {
  width: 100%;
  max-width: 100%;
  height : 500px;
  background-color: #56739A;
  color: white;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
}

footer p {
  text-align: center;
}

#footer .column1
{
  margin: 3% 0 0 0;
	float: left;
	width: 24%;
}

#footer .column2
{
  margin: 15px 0 0 0;
	float: left;
	width: 33.33333333333333333333333333333333333333333333333333333333333333%;
}

#footer .column3
{
  margin: 15px 0 0 0;
	float: left;
	width: 100%;
}

.ban h1{
  color: red;
  font-size: 300%;
  font-weight: bold;
  text-decoration: underline;
}

.form_inscription{
  margin-top: 300px;
  background-color: #ecf0f3;
  border-radius: 10px;
  border: 2px solid rgb(4, 113, 152);
  padding: 20px;

}
